<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epidemicapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.epidemicapp.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.epidemicapp.SplashScreenActivity"
            android:label="@string/title_activity_splash_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.epidemicapp.FirstCarrierActivity"
            android:label="@string/title_activity_first_carrier" >
        </activity>
        <activity
            android:name="com.example.epidemicapp.NonCarrierActivity"
            android:label="@string/title_activity_non_carrier" >
        </activity>
        <activity
            android:name="com.example.epidemicapp.NewsActivity"
            android:label="@string/title_activity_news" >
        </activity>
        <activity
            android:name="com.example.epidemicapp.DiseaseDetailActivity"
            android:label="@string/title_activity_disease_detail" >
        </activity>
        <activity
            android:name="com.example.epidemicapp.DiseaseListActivity"
            android:label="@string/title_activity_disease_list" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>